.main-container {
  width: 100%;
  display: flex;
  min-height: calc(100vh - var(--header-height) - var(--breadcrumb-height) - var(--breadcrumb-margin));
  height: 100%;
  

      .body-container {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
}